.counter-wrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: grid;
  font-size: calc(10px + 2vmin);
  gap: 24px;
  grid-template-columns: repeat(3, auto);
  min-height: 100vh;
  place-content: center;
}

.number {
  font-size: 65px
}

.button {
  background-color: #58595b;
  border-radius: 30px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  padding: 8px 16px;
  transition: .3s all ease-in-out;
}

.button:hover {
  background-color: #77797c;
}
